<!doctype html>
<html>
    <head>
        <title>Ryan's Gluten Free Pizza</title>
    </head>
    
    <body>
        <header>
            <h1>Ryan's Gluten Free Pizza</h1>
        </header>

        {{{body}}}

    </body>
    
    <footer>Founder / CEO / Executive Chef / Senior Web Developer: Ryan Lalchand</footer>
</html>