<html>
  <head>
    <title>Ryan's Gluten-Free Pizza</title>
  </head>

  <body>
    <header>
      <h1>Ryan's Gluten-Free Pizza</h1>
    </header>

    {{{body}}}

  </body>

  <footer>
    <br /><br />
    Copyright &copy;
    <script>document.write(new Date().getFullYear())</script>
    Ryan's Gluten-Free Pizza
  </footer>
</html>