<form action="AddToCart">
  <label for="size">Select Pizza Size:</label>
  <select name="size" id="size">
    <option value="small">Small - $12</option>
    <option value="medium">Medium - $16</option>
    <option value="large">Large - $20</option>
  </select>

  <label for="sauce">Select Sauce:</label>
  <select name="sauce" id="sauce">
    <option value="red">Red Tomato Sauce</option>
    <option value="white">White Garlic Sauce</option>
    <option value="noSauce">No Sauce</option>
  </select>

  Select Cheese:
  <label for="parmesan">Parmesan</label><br />
  <input type="checkbox" name="parmesan" />

  <label for="veganParmesan">Vegan Parmesan</label><br />
  <input type="checkbox" name="veganParmesan" />

  <label for="shreddedMozz">Shredded Mozzarella</label><br />
  <input type="checkbox" name="shreddedMozz" />

  <label for="veganMozz">Vegan Mozzarella</label><br />
  <input type="checkbox" name="veganMozz" />

  Select Meats:
  <label for="pepperoni">Pepperoni</label><br />
  <input type="checkbox" name="pepperoni" />

  <label for="sausage">Sausage</label><br />
  <input type="checkbox" name="sausage" />

  <label for="bacon">Bacon</label><br />
  <input type="checkbox" name="bacon" />

  <label for="salami">Salami</label><br />
  <input type="checkbox" name="salami" />

  Select Vegetables:
  <label for="greenPeppers">Green Peppers</label><br />
  <input type="checkbox" name="greenPeppers" />

  <label for="mushrooms">Mushrooms</label><br />
  <input type="checkbox" name="mushrooms" />

  <label for="olives"></label>Olives<br />
  <input type="checkbox" name="olives" />

  <label for="onions">Onions</label><br />
  <input type="checkbox" name="onions" />

  <input type="submit" value="Add to Cart" />
</form>